.box-header {
    height: 35px;
    width: 100%;
    padding: 2.5px;
    border: 1.5px;
    background-color: #33ccff;
}
.text-small {
    font-size: 10px;
}
.row {
    width: 100% !important;
}
.col-md-1 {
    width: 10% !important;
}
.col-md-4 {
    width: 25% !important;
}
.col-md-3 {
    width: 20% !important;
}
.col-md-6 {
    width: 50% !important;
}
.col-md-12 {
    width:100% !important;
}
.text-normal {
    font-size: 12px;
}

.investor-details-color {
    color: #33ccff;
}
.caret-size-6 {
    font-size: 25px;
}
.my-cell-bg {
    background-color: #33ccff;
    color: white;
}
.margin-right-1 {
    margin-left: 15px;
}
.page-breaker {
    page-break-after: always;
}
.bolder {
    font-size: 15px;
    font-weight: bolder;
}
.text-left {
    /* margin-right: -30px !important; */
    text-align: left;
}
.text-right {
    text-align: right; 
}
.text-center {
    /* margin-right: -40% !important; */
    text-align: center;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
.box-header-small {
    height: 25px;
    width: 100%;
    padding: 2.5px;
    border: 1.5px;
    background-color: #33ccff;
}
.border {
    border: 2px solid #33ccff ;
    
}
.margin-top-receipt-footer {
    margin-top: 10%;
}
.margin-top-receipt-body {
    /* margin-top: 2%; */
}
.no-border {
    border-left: 0px;
    border-right: 0px;
}
.test-cell-bg {
    background-color: #21b10b8a;
    color: white;
}