<template>
    <div>
        <div class="input-field col s4">
            <select name="loan_type_id" id="loan_type_id" v-model="loan_type">
                    <option disabled selected placeholder value="">Select loan type...</option>
                    <option value="1">Jiinue loan</option>
                    <option value="2">Inuka Loan</option>
                </select>
            <label for="loan_type_id">Loan type</label>
        </div>
        <div class="input-field col s4">
            <input id="amount_disbursed" name="amount_disbursed" type="number" step="2" value="" required>
            <label for="amount_disbursed">Loan Amount (KES)</label>
            <span class="helper-text" data-error="wrong"></span>
        </div>
        <div class="input-field col s4">
            <input id="loan_period" name="loan_period" type="number" step="2" value="" required>
            <label for="loan_period">Loan period</label>
            <span class="helper-text" data-error="wrong"></span>
        </div>
        <div class="input-field col s4">
            <select name="period_type" id="period_type" placeholder='select period type...' required>
                        <option value="">Months(s)</option>
                        <option value="">Weeks(s)</option>
                    </select>
            <label for="installment_type">Period Type</label>
            <span class="helper-text" data-error="wrong"></span>
        </div>
        <div class="input-field col s4">
            <select name="period_type" id="period_type" placeholder='select period type...' required>
                        <option value="">Month</option>
                        <option value="">Week</option>
                    </select>
            <label for="installment_type">Installment type</label>
            <span class="helper-text" data-error="wrong"></span>
        </div>
        <div class="input-field col s4">
            <input id="installment_amount" name="installment_amount" type="number" step="2" required value="">
            <label for="installment_amount">Installment Amount</label>
            <span class="helper-text" data-error="wrong"></span>
        </div>
    </div>
</template>

<script>
    export default {
    
        data() {
    
            return {
                loanTypes: [],
                loan_type: ""
            }
        },
        created() {
            setTimeout(() => {
                this.getLoansTypes();
            }, 250);
            Vue.directive("select", {
                "twoWay": true,
    
                "bind": function() {
                    $(this.el).material_select();
    
                    var self = this;
    
                    $(this.el).on('change', function() {
                        self.set($(self.el).val());
                    });
                },
    
                update: function(newValue, oldValue) {
                    $(this.el).val(newValue);
                },
    
                "unbind": function() {
                    $(this.el).material_select('destroy');
                }
            });
    
        },
        mounted() {
    
        },
        methods: {
            getLoansTypes() {
                axios.get('/loans/create').then(response => {
    
                    this.loanTypes = response.data;
                }).catch(response => {
    
                })
            },
            loanCalculator() {
    
            }
        }
    }
</script>

<style>
    
</style>
